USE [master]
GO
/****** Object:  Database [cuarto25m26]    Script Date: 23/11/2025 12:17:42 ******/
CREATE DATABASE [cuarto25m26]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cuarto25m26', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cuarto25m26.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cuarto25m26_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cuarto25m26_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cuarto25m26].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cuarto25m26]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/11/2025 12:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/11/2025 12:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[RUC] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/11/2025 12:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [nvarchar](50) NOT NULL,
	[Descripcion_Rol] [nvarchar](max) NOT NULL,
	[Estado_Rol] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/11/2025 12:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres_Usuario] [nvarchar](50) NOT NULL,
	[Apellidos_Usuario] [nvarchar](50) NOT NULL,
	[Cedula_Usuario] [nvarchar](max) NOT NULL,
	[Fecha_Ingreso] [datetime2](7) NOT NULL,
	[Estado_Usuario] [bit] NOT NULL,
	[Contrasenia] [nvarchar](max) NOT NULL,
	[Correo_Usuario] [nvarchar](max) NOT NULL,
	[Rol_Id] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251121162250_Clientes', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251121170351_estado_cliente', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251122230218_Migracion_Roles_Usuarios', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [Nombres], [Apellidos], [Direccion], [RUC], [Telefono], [Correo], [Estado]) VALUES (3, N'Carlos', N'Lopez', N'Ambato', N'1232334535', N'123233783543', N'correo@gamil.com', 1)
INSERT [dbo].[Clientes] ([id], [Nombres], [Apellidos], [Direccion], [RUC], [Telefono], [Correo], [Estado]) VALUES (4, N'Maria', N'Carla', N'Quito', N'0932105794', N'115646547', N'Mc@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id_Rol], [Nombre_Rol], [Descripcion_Rol], [Estado_Rol]) VALUES (4, N'Administraciónes', N'Adminstra la empresa', 1)
INSERT [dbo].[Roles] ([Id_Rol], [Nombre_Rol], [Descripcion_Rol], [Estado_Rol]) VALUES (9, N'Asesor al cliente digital', N'Contácta a clientes potenciales', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombres_Usuario], [Apellidos_Usuario], [Cedula_Usuario], [Fecha_Ingreso], [Estado_Usuario], [Contrasenia], [Correo_Usuario], [Rol_Id]) VALUES (15, N'Carlos', N'Burbano', N'0932105794', CAST(N'2025-11-23T11:44:02.6233333' AS DateTime2), 1, N'12345', N'Carbn54@gmail.com', 4)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_Nombre_Rol]    Script Date: 23/11/2025 12:17:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_Nombre_Rol] ON [dbo].[Roles]
(
	[Nombre_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Rol_Id]    Script Date: 23/11/2025 12:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Rol_Id] ON [dbo].[Usuarios]
(
	[Rol_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (N'') FOR [Descripcion_Rol]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Estado_Rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [Fecha_Ingreso]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles_Rol_Id] FOREIGN KEY([Rol_Id])
REFERENCES [dbo].[Roles] ([Id_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles_Rol_Id]
GO
USE [master]
GO
