<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="cn" 
			 connectionString="server =.;uid=sa;pwd=12345;database=cuarto25m26; trusted_connection=true; TrustServerCertificate = True"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>